{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
{% endblock %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gameshop</title>
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
</head>
<body>
    <header>

    </header>
    <main>
        {% block content %}
        <h3>Список игр:</h3>
        <ul class="list-games">
               {% for g in games %}
            <a href="{{ g.get_absolute_url }}">
            <li><img src="/app/media/{{g.photo_game}}" align="left" width="100" height="120"/></li>
            </a>
            <h3>Название игры: <b>{{g.game_name}}</b></h3><br>
        {% endfor %}
        </ul>
    <h3>Популярные игры:</h3>
        <ul class="pop-games">
        {% for g in queryset1 %}
        <a href="{{ g.get_absolute_url }}">
        <li><img src="/app/media/{{g.photo_game}}" align="left" width="100" height="120"/></li>
        </a>
        <h3>Название игры: <b>{{g.game_name}}</b></h3> <br>
        {% endfor %}
        </ul>
        {% endblock content %}
    </main>
    <footer></footer>
</body>
</html>